service cloud.firestore {
  match /databases/{database}/documents {
    function isUserPriviledgedUser() {
      return request.auth.uid in get(/databases/$(database)/documents/system/priviledged_users).data
    }

    match /system/{anyone=**} {
      allow read, write: if false;
    }

    match /articles {
      allow read;
      allow write: if isUserPriviledgedUser()
    }

    match /{anyone=**} {
      allow read, write: if false;
    }
  }
}
