service firebase.storage {
  match /b/{bucket}/o {
    function isUserPriviledgedUser() {
      return request.auth.uid in get(/databases/$(database)/documents/system/priviledged_users).data
    }

    allow read, write: if false;
    match /attachments/{userId}/{allPaths=**} {
      allow read;
      allow write: if isUserPriviledgedUser() && request.auth.uid == userId; 
    }
  }
}
