service firebase.storage {
  match /b/{bucket}/o {
    function isUserPriviledgedUser() {
      return request.auth.uid in ['iU4fD0Tw7RPXuBNWp7u61Mqz2cm1']
    }

    match /attachments/{uid}/{allPaths=**} {
      allow read,write: if request.auth.uid == uid && isUserPriviledgedUser();
    }
  }
}
